{% with request.resolver_match.view_name as view_name %}
  {% load user_filters %}
<div class="row pb-3">
    <div class="col d-flex justify-content-md-start">
      <a href="{% url 'ads:add_lost' %}">
        <button type="button" class="btn btn-danger" style="background-color: #d8303d;">Подать объявление
        </button>
      </a>
    </div>
    <div class="col d-flex justify-content-md-end">
    {% if view_name == 'ads:lost' or view_name == 'ads:lost_map' or view_name == 'ads:found' or view_name == 'ads:found_map' %}
    <form method="get" class="mx-2">
      {{ filter.form.type|addclass:'form-select' }}
    </form>
      <div class="btn-group me-md-2" role="group" aria-label="Basic radio toggle button group">
      {% if view_name == 'ads:lost' or view_name == 'ads:lost_map' %}
        <a href="{% url 'ads:lost' %}">
      {% else %}
        <a href="{% url 'ads:found' %}">
      {% endif %}
<button type="button" class="btn btn{% if view_name != 'ads:lost' and view_name != 'ads:found' %}-outline{% endif %}-primary">Список</button>
          </a>
      {% if view_name == 'ads:lost' or view_name == 'ads:lost_map' %}
        <a href="{% url 'ads:lost_map' %}">
      {% else %}
        <a href="{% url 'ads:found_map' %}">
      {% endif %}
<button type="button" class="btn btn{% if view_name != 'ads:lost_map' and view_name != 'ads:found_map' %}-outline{% endif %}-primary">Карта</button>
          </a>
      </div>
    {% endif %}
      <a href="{% url 'ads:lost' %}">
        <button type="button" class="btn {% if view_name == 'ads:lost' or view_name == 'ads:lost_map' %} btn-primary {% else %} btn-secondary {% endif %} me-md-2">Потерялся
        </button>
      </a>
      <a href="{% url 'ads:found' %}">
        <button type="button" class="btn {% if view_name == 'ads:found' or view_name == 'ads:found_map' %} btn-primary {% else %} btn-secondary {% endif %}">Нашёлся</button>
      </a>
    </div>
  </div>
{% endwith %}