# Your custom django secret key. Default = random.
# Important: you need to specify custom secret key in prod for working of gunicorn workers correctly
DJANGO_SECRET_KEY=
# Is django debug enabled. Default = True
DJANGO_DEBUG=
# Django allowed hosts. Default = '*' (all).
DJANGO_ALLOWED_HOSTS=
# FOR PROD: 0, FOR TEST: 1 (default 0).
LOCAL=
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432
# ReCaptcha keys
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_REQUIRED_SCORE=
# SMTP settings
DEFAULT_FROM_EMAIL=''
EMAIL_HOST='mail.example.ru'
EMAIL_USE_TLS=0
EMAIL_PORT=465
EMAIL_USE_SSL=1
EMAIL_HOST_USER='user@example.ru'
EMAIL_HOST_PASSWORD='your password'
