{% extends 'base.html' %}
{% block title %}Регистрация завершена{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Регистрация прошла успешно
        </div>
        <div class="card-body">
          <p>
            Благодарим вас за регистрацию!
          </p>
          <p>
            В правом верхнем углу появилось меню профиля, здесь вы можете увидеть актуальный статус ваших объявлений, а также сюда будут приходить сообщения от других пользователей.
          </p>
          <p>
            Перейти к списку объявлений: <a href="{% url 'ads:lost' %}">потерянные</a>, <a href="{% url 'ads:found' %}">найденные</a>
          </p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}