{% extends 'base.html' %}
{% block title %}Подтверждение{% endblock %}
{% block content %}
  {% with card_header='Подтверждение адреса электронной почты' card_body='На указанный адрес электронной почты было направлено письмо-подтверждение. Необходимо подтвердить адрес электронной почты и закончить процесс регистрации на сайте. После этого вам будет предоставлен полный функционал сайта. Вы сможете создавать объявления, редактировать их, а также откликаться на объявления других пользователей.' %}
    {% include 'users/includes/card.html' %}
  {% endwith %}
{% endblock %}