{% extends 'base.html' %}
{% block title %}Регистрация завершена{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Регистрация прошла успешно
        </div>
        <div class="card-body">
          <p>
            Благодарим вас за регистрацию!
          </p>
          <p>
            Ваше объявление было успешно создано. В настоящий момент оно находится на проверке модераторами сайта и в ближайшее время появится в соответствующем разделе.
            В правом верхнем углу появился значок профиля, здесь вы можете увидеть актуальный статус вашего объявления, а также сюда будут приходить сообщения от других пользователей, откликнувшихся на ваше объявление.
          </p>
          <p>
            Перейти к списку объявлений: <a href="{% url 'ads:advertisement_list' %}?type=lost">потерянные</a>, <a href="{% url 'ads:advertisement_list' %}?type=found">найденные</a>
          </p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
