{% extends 'base.html' %}
{% block title %}Подтверждение адреса электронной почты{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Подтверждение адреса электронной почты
        </div>
        <div class="card-body">
          <p>
            На адрес электронной почты, указанный в объявлении, было направлено письмо-подтверждение. Необходимо подтвердить адрес электронной почты и закончить процесс регистрации на сайте. После этого объявление будет направлено на модерацию. Регистрация на сайте позволит управлять ранее созданным объявлением, а также коммуницировать с другими людьми, увеличивая шанс на воссоединение.
          </p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}