{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
{% block title %}
  Мои объявления
{% endblock %}
{% block content %}
 {% include 'ads/includes/navigation.html' %}
  <div class="row" >
  <aside class="col-12 col-md-2">
 {% include 'ads/includes/profile_nav.html' %}
  </aside>
  <div class="col-12 col-md-10">
 {% include 'ads/includes/my_ads_switcher.html' %}
  {% if not page_obj %}
    <p class="py-3 text-secondary">В данном разделе отсутствуют объявления</p>
  {% else %}
  {% for ad in page_obj %}
    <article class="border-bottom border-start border-end {% if forloop.last %} rounded-bottom {% endif %}">
      <div class="row g-0 position-relative">
        <div class="col-md-5 col-lg-4 col-xl-3 mb-md-0 p-4 pb-0 pb-md-4">
        {% if ad.image %}
          {% thumbnail ad.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}" class="rounded">
          {% endthumbnail %}
        {% else %}
          {% thumbnail ad.type.default_image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}" class="rounded">
          {% endthumbnail %}
        {% endif %}
        </div>
      <div class="col-md-7 col-lg-8 col-xl-9 p-4 ps-md-0">
      {% if ad|getmodelname == 'found' %}
          <h5 class="mt-0">Нашелся:</h5>
          <p class="text-muted">{{ ad.pub_date }}</p>
          <p class="text-break">{{ ad.description | truncatechars:200 }}</p>
          <p class="text-muted">{{ ad.address }}</p>
          <a href="{% url 'ads:found_detail' ad.id %}" class="pa-link">Подробнее</a>
        {% else %}
          <h5 class="mt-0 text-break">Пропал: {{ ad.pet_name }}</h5>
          <p class="text-muted">{{ ad.pub_date }}</p>
          <p class="text-break">{{ ad.description | truncatechars:200 }}</p>
          <p class="text-muted">{{ ad.address }}</p>
          <a href="{% url 'ads:lost_detail' ad.id %}" class="pa-link">Подробнее</a>
        {% endif %}
      </div>
      </div>
    </article>
  {% endfor %}
  {% include 'ads/includes/paginator.html' %}
  {% endif %}
  </div>
  </div>
{% endblock %}