{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  {{ seo_title }}
{% endblock %}
{% block content %}
  {% include 'ads/includes/navigation.html' %}
  {% include 'ads/includes/ya_maps.html' %}
  <script>
      const headers = {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json"
      }
      const model = '{{ request.GET.type }}'
  </script>
  <script src="{% static 'js/map_marks.js' %}"
          type="text/javascript">
  </script>
  <div class="surface-panel p-3">
    <div class="map-search-bar">
      <input type="text" id="map-address-search" class="form-control form-control-lg map-search-bar__input" placeholder="Введите адрес, чтобы переместить карту">
      <button type="button" class="btn btn-pa-green map-search-bar__button" id="map-address-search-button">Найти</button>
    </div>
    <div id="map" class="map-frame"></div>
  </div>
{% endblock %}
