{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
  Главная страница
{% endblock %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/main-page.css' %}">


  <article class="py-3">
    <div class="row mb-5 pb-3">
      <div class="col-12 col-lg-5">
        <p class="page-header mt-5 mb-5">Сервис для поиска домашних животных</p>
        <ul class="rec-list mb-5">
          <li>
            Ваш питомец потерялся?
          </li>
          <li>
            Или вы нашли кого-то на улице?
          </li>
          <li>
            Хотите рассказать об этом?
          </li>
        </ul>
      <a href="{% url 'ads:add_lost' %}">
        <button type="button" class="index-red-button btn btn-lg btn-pa-red mt-4">Подать объявление</button>
      </a>
      </div>

      <div class="col-12 col-lg-7 pt-5 pt-lg-0">
        <img src="{% static 'img/girl-and-dog.png' %}" class="img-fluid">
      </div>
    </div>

    <div class="mt-5 pt-5 mb-5 pb-3">
      <p class="page-header pb-4">Недавно найденные</p>
      <div class="row pb-4">
        {% for found in founds %}
          <div class="col">
            <a href="{% url 'ads:found_detail' found.id %}">
              {% if found.image %}
                {% thumbnail found.image "250x250" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}"
                    height="{{ im.height }}" class="rounded">
                {% endthumbnail %}
              {% else %}
                {% thumbnail found.type__default_image "250x250" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}"
                    height="{{ im.height }}" class="rounded">
                {% endthumbnail %}
              {% endif %}
            </a>
            <p class="pt-3">{{ found.pub_date }}</p>
            <div class="pb-3">
              <a href="{% url 'ads:found_detail' found.id %}" class="pa-link">Подробнее</a>
            </div>
          </div>
        {% endfor %}
     </div>
      <a href="{% url 'ads:found' %}">
        <button class="btn btn-pa-green index-green-button mt-2">Все найденные</button>
      </a>
    </div>

    <div class="mt-5 pt-5">
      <p class="page-header pb-4">Недавно потерянные</p>
      <div class="row pb-4">
        {% for lost in losts %}
          <div class="col">
            <a href="{% url 'ads:lost_detail' lost.id %}">
              {% if lost.image %}
                {% thumbnail lost.image "250x250" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}"
                       height="{{ im.height }}" class="rounded">
                {% endthumbnail %}
              {% else %}
                {% thumbnail lost.type__default_image "250x250" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}"
                       height="{{ im.height }}" class="rounded">
                {% endthumbnail %}
              {% endif %}
            </a>
            <p class="pt-3">{{ lost.pub_date }}</p>
            <div class="pb-3">
              <a href="{% url 'ads:lost_detail' lost.id %}" class="pa-link">Подробнее</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <a href="{% url 'ads:lost' %}">
        <button class="btn btn-pa-green index-green-button mt-2">Все потерянные</button>
      </a>
    </div>
  </article>

{% endblock %}
