{% with request.resolver_match.view_name as view_name %}
<div class="list-group list-group-flush pb-2">
  <a href="{% url 'ads:my_ads' %}" class="list-group-item list-group-item-action {% if view_name == 'ads:my_ads' or view_name == 'ads:my_ads_inactive' %} text-pa-green {% endif %}">
    Мои объявления
  </a>
  <a href="{% url 'messenger:dialog_list' %}" class="list-group-item list-group-item-action {% if view_name == 'messenger:dialog_list' or view_name == 'messenger:dialog_detail' %} text-pa-green {% endif %}">Сообщения</a>
  <a href="{% url 'user_profile:settings' %}" class="list-group-item list-group-item-action {% if view_name == 'user_profile:settings' %} text-pa-green {% endif %}">Настройки</a>
</div>
{% endwith %}
