{% with request.resolver_match.view_name as view_name %}
  {% load user_filters %}

<div class="row pb-3">
    <div class="col d-flex justify-content-md-start pb-2 pb-md-0">
      <a href="{% url 'ads:add_lost' %}">
        <button type="button" class="btn btn-pa-red">Подать объявление </button>
      </a>
    </div>
    <div class="col-md d-md-flex justify-content-md-end">
    {% if view_name == 'ads:advertisement_list' or view_name == 'ads:advertisement_map' %}
    <form method="get" class="pb-2 pb-md-0 pe-md-2 px-lg-0 mx-lg-2 col-md-4 col-lg-5" id="species-form">
      {{ filter.form.species|addclass:'form-select' }}
      {{ filter.form.type }}
    </form>
      <div class="d-flex">
      <div class="btn-group me-2" role="group" aria-label="Basic radio
toggle button group">
        <a href="{% url 'ads:advertisement_list' %}{% querystring %}">
<button type="button" class="btn btn{% if view_name != 'ads:advertisement_list' %}-outline{% endif %}-pa-green">Список</button>
          </a>
        <a href="{% url 'ads:advertisement_map' %}{% querystring %}">
<button type="button" class="btn btn{% if view_name != 'ads:advertisement_map' %}-outline{% endif %}-pa-green">Карта</button>
          </a>
      </div>
    {% endif %}
    <div class="d-flex">
      {% if view_name == "ads:advertisement_list" %}
        <a href="{% url 'ads:advertisement_list' %}?type=lost">
      {% else %}
        <a href="{% url 'ads:advertisement_map' %}?type=lost">
      {% endif %}
        <button type="button" class="btn {% if request.GET.type == "lost" %} btn-pa-green {% else %} btn-outline-pa-green
{% endif %} me-md-2">Потерялся
        </button>
      </a>
      {% if view_name == "ads:advertisement_list" %}
        <a href="{% url 'ads:advertisement_list' %}?type=found">
      {% else %}
        <a href="{% url 'ads:advertisement_map' %}?type=found">
      {% endif %}
        <button type="button" class="btn {% if request.GET.type == "found" %} btn-pa-green {% else %} btn-outline-pa-green{% endif %}">Нашёлся</button>
      </a>
    </div>
    {#   WTF? Fix it #}
    {% if view_name == 'ads:advertisement_list' or view_name == 'ads:advertisement_map' %}
    </div>
    {% endif %}
    </div>
  </div>
{% endwith %}
