<div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendMessageModalLabel">Отправить сообщение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea name="message" cols="40" rows="10" class="form-control form-control-lg" placeholder="Введите текст" required id="id_message"></textarea>
      </div>
      <div class="modal-footer">
        <div class="text-pa-red" id="send-msg-failed"></div>
        <button type="submit" class="btn btn-pa-green" onclick="createDialog()" id="send-msg-button"><span id="spinner-send-msg" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span> Отправить</button>
      </div>
    </div>
  </div>
</div>
