{% load static %}
<div class="container">
  <div class="row m-2">
    <div class="col-1">
      <img src="{% static 'img/logo.png' %}">
    </div>
    <div class="col-6">
      <div class="text-start">
        <a class="navbar-brand" href="{% url 'ads:index' %}">
          <h1><span style="color:black">Pet </span><span style="color:red">Alert</span></h1>
        </a>
      </div>
    </div>
    <div class="col-5">
      <div class="text-end">
        <p>Какие-то важные слова</p>
        <p>Какие-то еще более важные слова</p>
      </div>
    </div>
  </div>
</div>