{% load static %}
<nav class="navbar navbar-expand-md navbar-light">
<div class="container">
      <a class="navbar-brand" href="{% url 'ads:index' %}">
      <img src="{% static 'img/logo.png' %}" class="d-inline-block align-top" style="width: auto; height: 50px;">
        </a>
{#      <div class="text-end">#}
        {% comment %}
        <p>"Вернем потерянных домой" - наш слоган. Мы помогаем владельцам потерянных домашних животных быстро и эффективно их найти.</p>
        {% endcomment %}
<ul class="nav nav-pills">
{% with request.resolver_match.view_name as view_name %}
  {% if user.is_anonymous %}
  <li class="nav-item"><a class="nav-link {% if view_name == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a></li>
  <li class="nav-item"><a class="nav-link {% if view_name == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a></li>
  {% else %}
    {% if user.is_staff %}
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Админка</a></li>
      {% endif %}
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'ads:profile' %}">Профиль</a>
      <a class="dropdown-item" href="{% url 'ads:my_ads' %}">Мои объявления</a>
      <a class="dropdown-item" href="{% url 'ads:messages' %}">Мои сообщения</a>
      <a class="dropdown-item" href="{% url 'users:change_form' %}">Изменить пароль</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
    </div>
  </li>
  {% endif %}
{% endwith %}
</ul>
</div>
</nav>