{% extends 'base.html' %}
{% load static %}
{% block title %}
  Подать объявление | Потерялся
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-md-end">
    <a href="{% url 'ads:add_lost' %}">
      <button type="button" class="btn btn-primary me-md-2">Потерялся
      </button>
    </a>
    <a href="{% url 'ads:add_found' %}">
      <button type="button" class="btn btn-secondary">Нашёлся</button>
    </a>
  </div>
  {% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Потеряли питомца? Заполните данную форму, чтобы рассказать об этом.
        </div>
        <div class="card-body">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <p>Выберите адрес:</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
              Выбрать адрес
            </button>
          <p class="my-3 id_address">Адрес не выбран</p>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите
                      адрес</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=f82184cf-4914-45a8-87f6-1594ed68d104"
                            type="text/javascript"></script>
                    <script src="{% static 'js/map_event.js' %}"
                            type="text/javascript"></script>
                    <div id="map" style="width: 770px; height: 600px">{% csrf_token %}</div>
                    <input type="hidden" id="coords" name="coords">
                    <input type="hidden" id="address" name="address">
                    <p class="my-3">Выбранный адрес:</p>
                    <p class="id_address">Адрес не выбран</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" id="sendButton" data-bs-dismiss="modal">Подтвердить
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% for field in form %}
              <div class="form-group row my-3"
                      {% if field.field.required %}
                   aria-required="true"
                      {% else %}
                   aria-required="false"
                      {% endif %}
              >
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>
                <div>
                  {{ field|addclass:'form-control' }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help"
                           class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                Подать объявление
              </button>
            </div>
          </form>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}