{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  Нашлись | Список
{% endblock %}
{% block content %}
 {% include 'ads/includes/navigation.html' %}
  {% if not page_obj %}
  <p class="py-3 text-secondary">В данном разделе отсутствуют объявления</p>
  {% else %}
  {% for ad in page_obj %}
    <article class="border {% if not forloop.last %} border-bottom-0 {% endif %}">
      <div class="row g-0 bg-light position-relative">
        <div class="col-md-4 col-lg-3 mb-md-0 p-4 pb-0 pb-md-4">
        {% if ad.image %}
          {% thumbnail ad.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}" class="rounded">
          {% endthumbnail %}
        {% else %}
          {% thumbnail ad.type.default_image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}" class="rounded">
          {% endthumbnail %}
        {% endif %}
        </div>
        <div class="col-md-8 col-lg-9 p-4 ps-md-0">
          <h5 class="mt-0">Нашелся:</h5>
          <p class="text-muted">{{ ad.pub_date }}</p>
          <p class="text-break">{{ ad.description | truncatechars:200 }}</p>
          <p class="text-muted">{{ ad.address }}</p>
          <a href="{% url 'ads:found_detail' ad.id %}">Подробнее</a>
        </div>
      </div>
    </article>
  {% endfor %}
  {% include 'ads/includes/paginator.html' %}
  {% endif %}
{% endblock %}