{% extends 'base.html' %}
{% block title %}
  Главная страница
{% endblock %}
{% block content %}
{% include 'ads/includes/navigation.html' %}
  <article class="py-3">
    <p>Тут очень важный текст с миссией проекта. Тут очень важный текст с
      миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.
      Тут очень важный текст с миссией проекта.</p>
  </article>
{% endblock %}