{% extends 'base.html' %}
{% block title %}
  Главная страница
{% endblock %}
{% block content %}
{% include 'ads/includes/navigation.html' %}
  <article class="py-3">
    <p>Добро пожаловать на наш сайт по поиску потерянных домашних животных! Мы знаем, как трудно расставаться со своим любимым питомцем и наша цель - помочь вам вернуть его домой.</p>

    <p>Мы предоставляем удобный и простой в использовании онлайн-сервис для поиска потерянных животных. Если ваш питомец пропал, вы можете оставить объявление о пропаже на нашем сайте. Ваша информация будет доступна для всех пользователей нашего сайта, а также мы сотрудничаем с множеством приютов и организаций по защите животных, чтобы максимально распространить информацию о пропавшем животном.</p>

    <p>Мы также предоставляем список найденных животных, чтобы помочь владельцам быстрее найти своего питомца. Если вы нашли животное, которое кажется потерянным, вы можете оставить информацию о нем на нашем сайте. Таким образом, вы можете помочь вернуть потерянного питомца домой и принести радость его владельцам.</p>

    <p>Мы заботимся о благополучии всех животных и у нас есть раздел советов по поиску потерянных животных, чтобы помочь владельцам организовать и эффективно провести поиск своего питомца. Мы также сотрудничаем с множеством приютов и организаций по защите животных, которые могут помочь с поиском потерянных животных.</p>

<p>Мы надеемся, что наш сайт станет для вас полезным инструментом в поиске потерянного питомца и поможет вернуть его домой. Наша команда всегда готова ответить на ваши вопросы и помочь в любых ситуациях. Спасибо, что выбрали наш сайт для поиска потерянных домашних животных!</p>
  </article>
{% endblock %}