{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  Потерялся | {{ ad.pet_name }}
{% endblock %}
{% block content %}
  {% include 'ads/includes/navigation.html' %}

  <script>
    const isAuth = '{{request.user.is_authenticated}}' === 'True';
    const uiUrl = "{% url 'ads:get_contact_information' %}"
    const loginUrl = "{% url 'users:login' %}"
    const manageUrl = "{% if ad.open %} {% url 'ads:close_ad' %} {% else %} {% url 'ads:open_ad' %} {% endif %}"
    const manageData = {
        "m": "l",
        "ad_id": '{{ ad.id }}'
    }
    const headers = {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json"
    }
  </script>
  <script src="{% static 'js/fetch_ui.js' %}"></script>

  <div class="row" >
  <article class="col-12 col-lg-8 text-break">

  {% if ad.author == request.user %}
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
  {% endif %}
  {% if not ad.active %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    Данное объявление находится на модерации и в данный момент не видно другим посетителям.
  </div>
</div>
  {% endif %}
  {% if not ad.open %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    Данное объявление закрыто и не видно другим пользователям. Вы можете открыть его повторно.
  </div>
</div>
  {% endif %}
    {% thumbnail ad.image "500x400" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}"
           height="{{ im.height }}" class="pb-3 rounded img-fluid">
    {% endthumbnail %}
  {% if ad.type %}
    <p><span style="color:darkgray">Вид:</span> {{ ad.type }}</p>
  {% endif %}
  {% if ad.pet_name %}
    <p><span style="color:darkgray">Кличка:</span> {{ ad.pet_name }}</p>
  {% endif %}
  {% if ad.age %}
    <p><span style="color:darkgray">Возраст:</span> {{ ad.age }}</p>
  {% endif %}
    <p style="color:darkgray">Описание:</p>
    <p>{{ ad.description }}</p>
  {% if ad.address %}
      <script async src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU&amp;apikey=f82184cf-4914-45a8-87f6-1594ed68d104&onload=getYaMap"
          type="text/javascript"></script>
  <script>
      var coords = [{{ ad.coords }}]
      var ballCont = 'Здесь был {{ ad.pet_name }}'
      var iconHref = '/media/{{ ad.type.icon }}'
  </script>
  <script src="{% static 'js/map_mark.js' %}"
          type="text/javascript">
  </script>
    <p><span style="color:darkgray">Адрес:</span> {{ ad.address }}</p>
  <style>
        html, body, #map {
            width: 100%; height: 300px; padding: 0; margin: 0;
        }
    </style>
  <div class="pb-3 pb-lg-0" id="map"></div>
  {% endif %}
  </article>
  <aside class="col-12 col-lg-4 text-break">
    <ul class="list-group ">
      <li class="list-group-item">
        Дата публикации: {{ ad.pub_date }}
      </li>
      <li class="list-group-item">
        Кто ищет: {{ ad.author.first_name }}
      </li>
      <li class="list-group-item">
        {% if request.user == ad.author %}
          <button type="button" class="btn {% if ad.open %} btn-warning {% else %} btn-success {% endif %}" data-bs-toggle="modal" data-bs-target="#closeOpenModal">
            {% if ad.open %}
              Закрыть
            {% else %}
              Открыть
            {% endif %}
          </button>
        {% else %}
        <button id="contact-button" type="button" class="btn btn-info" onclick="getUserInfo()"><span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span> Контакты</button>
        <button id="write-button" type="button" class="btn btn-info" disabled>Написать</button>
        <div class="text-danger" id="contact-failed"></div>
        {% endif %}
      </li>
    </ul>
  </aside>
  </div>

  {% if request.user != ad.author %}
    {% include 'ads/includes/contact_info_modal.html' %}
  {% endif %}

  {% if request.user == ad.author %}
    {% include 'ads/includes/open_close_modal.html' %}
  {% endif %}

{% endblock %}