{% with request.resolver_match.view_name as view_name %}
  <div class="row">
    <div class="col d-flex justify-content-md-start pb-2 pb-md-0">
      <a href="{% url 'ads:add_lost' %}">
        <button type="button" class="btn {% if view_name == 'ads:add_lost' %}btn-pa-green{% else %}btn-secondary{% endif %} me-md-2">Потерялся
        </button>
      </a>
      <a href="{% url 'ads:add_found' %}">
        <button type="button" class="btn {% if view_name == 'ads:add_found' %}btn-pa-green{% else %}btn-secondary{% endif %}">Нашёлся</button>
      </a>
    </div>
    <div class="col d-flex justify-content-md-end">
      <a href="{% url 'ads:lost' %}">
        <button type="button" class="btn btn-outline-pa-green">Объявления</button>
      </a>
    </div>
  </div>
{% endwith %}
