{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  {{ title }} | Список
{% endblock %}
{% block content %}
 {% include 'ads/includes/navigation.html' %}
  {% for ad in page_obj %}
    <article class="border">
      <div class="row g-0 bg-light position-relative">
        <div class="col-md-3 mb-md-0 p-md-4">
          {% thumbnail ad.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}" class="rounded">
          {% endthumbnail %}
        </div>
        <div class="col-md-9 p-4 ps-md-0">
          <h5 class="mt-0">{{ ad_header }}</h5>
          <p>{{ ad.description }}</p>
          <p class="text-muted">{{ ad.address }}</p>
          <a href="{{ ad_url }}">
          <button type="button" class="btn btn-link">
            Подробнее
          </button>
            </a>
        </div>
      </div>
    </article>
  {% endfor %}
  {% include 'ads/includes/paginator.html' %}
{% endblock %}