{# Custom pagination #}
{% load user_filters %}
{% if page_obj.has_other_pages %}
  <nav aria-label="Page navigation" class="my-5">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ parameters }}">&laquo;</a>
      {% endif %}

      {% get_proper_elided_page_range paginator page_obj.number as page_range %}
      {% for i in page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>
        {% elif i == paginator.ELLIPSIS %}
          <li class="page-item">
            <span class="page-link">...</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}&{{ parameters }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ parameters }}">
            &raquo;
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
