  {% with request.resolver_match.view_name as view_name %}
    <div class="row g-0 position-relative">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
                  class="nav-link {% if view_name == 'user_ads:active' %}active{% endif %}"
                  href="{% url 'user_ads:active' %}"
          >
            Активные ({{ active_count }})
          </a>
        </li>
        <li class="nav-item">
          <a
                  class="nav-link {% if view_name == 'user_ads:inactive' %}active{% endif %}"
                  href="{% url 'user_ads:inactive' %}"
          >
            Неактивные ({{ inactive_count }})
          </a>
        </li>
      </ul>
    </div>
  {% endwith %}
